div.tooltip {	
    position: absolute;			
    text-align: center;
    z-index: 99;
    width: 150px;					
    height: 65px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;		
}

.circleText {
    pointer-events: none;
    font: 10px sans-serif;
    fill: black;
/*
    stroke: white;
    stroke-width: .125px;
    paint-order: stroke;
*/
}

#text-content {
    display: inline-block;
    position: relative;
    width: 400px;
    top: 50px;
    z-index: 90;
    margin-left: 20px;
    margin-right: 25px;
}

.svg-container {
    display: inline-block;
    position: fixed;
/*    top: 10px;*/
    z-index: 1;
    margin-left: 0;
    height: 800px;
    width: 900px;
}


/*see https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/ */

.svg-content {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid black;
}

#controls {
    display: inline-block;
    position: fixed;
    top: 825px;
    z-index: 1;
    margin-left: 0;
}

#control-buttons {
    display: inline-block;
    position: fixed;
    top: 835px;
    z-index: 1;
    margin-left: 30px;
}

#top-controls {
    position: relative;
    top: 50px;
    left: 10px;
    z-index: 10;
}
